
<div class="container-fluid" ng-if="connected">
    <div class="row">
        <div class="col">
            <!--Test Name Begin-->
            <h2 ng-if="!globalTestInfo.field_value_is_overridden">
                {{globalTestInfo.cerner_value_text}}
            </h2>
            <h2 ng-if="!globalTestInfo.field_value_is_overridden">
                {{globalTestInfo.override_value_text}}
            </h2>
            <!--Test Name End-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" ng-repeat="section in testSections" role="presentation">
                    <a class="nav-link" href="" ng-click="editSection(section.section_id, $event)" role="tab" data-toggle="tab"><span class="h5">{{section.section_display_name}}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col" ui-view>
            <div class="tab-content">
                <div class="alert alert-info alert-dismissible mt-3" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1>Click on one of these sections to edit information in them.</h1>
                    <hr />
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>

